.form {
  @include flex($dir: column);

  &__label--hidden {
    display: none;
  }

  &__input {
    border: none;
    border-bottom: 4px solid $primary-color;
    margin: 0 .5em 2em .5em;
    padding: .5em;

    &:focus {
      outline: none;
    }
  }
}
